n8n/bulk-send-workflow.json
{
  "name": "[Telnyx] [Bulk] Send",
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telnyx-bulk-send",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "wh-bulk",
      "name": "Bulk Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [432, -48],
      "webhookId": "telnyx-bulk-send"
    },
    {
      "parameters": {
        "jsCode": "// Only callers with the shared secret may trigger a bulk send.\nconst SECRET = 'playbook';\nif (($json.headers['x-inbox-secret'] || '') !== SECRET) {\n  throw new Error('401 Unauthorized: bad or missing x-inbox-secret');\n}\nreturn $input.all();"
      },
      "id": "auth-bulk",
      "name": "Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, -48]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.messages",
        "options": {}
      },
      "id": "397b7768-17a1-45d0-9275-f8b2bace3d63",
      "name": "Split Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [816, -48]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telnyx.com/v2/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: \"+16158050766\", to: $json.to, text: $json.text }) }}",
        "options": {
          "batching": { "batch": { "batchSize": 5, "batchInterval": 1100 } }
        }
      },
      "id": "7c489acb-a63d-4d44-9bd9-8e072e748e2a",
      "name": "Send via Telnyx",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, -48],
      "credentials": {
        "httpBearerAuth": { "id": "XsVobK6mWdzUGA7e", "name": "Telnyx" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://snfmggrnyjayuuxafats.supabase.co/rest/v1/rpc/telnyx_send_outbound",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"p_from\": \"+16158050766\", \"p_to\": $('Split Messages').item.json.to, \"p_body\": $('Split Messages').item.json.text, \"p_telnyx_message_id\": ($json.data && $json.data.id) ? $json.data.id : null } }}",
        "options": {}
      },
      "id": "96e3aeb7-fa0b-4a37-af46-f4b9b5e82b13",
      "name": "Record Outbound (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1264, -48],
      "credentials": {
        "supabaseApi": { "id": "B45ZZ2nGKOeatNYB", "name": "Supabase | John" }
      }
    }
  ],
  "connections": {
    "Bulk Send Webhook": { "main": [[{ "node": "Auth", "type": "main", "index": 0 }]] },
    "Auth": { "main": [[{ "node": "Split Messages", "type": "main", "index": 0 }]] },
    "Split Messages": { "main": [[{ "node": "Send via Telnyx", "type": "main", "index": 0 }]] },
    "Send via Telnyx": { "main": [[{ "node": "Record Outbound (RPC)", "type": "main", "index": 0 }]] }
  }
}
